.footer-container {
    display: flex;
}
.footer-column1{
        flex-direction: column;
}
.footer-column2 {
    flex-direction: column;
}
.footer-column3 {
    flex-direction: column;
}
.footer-column4 {
    flex-direction: column;
}
.footer-column5 {
    flex-direction: column;
}